* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.imagebox3,
.imagebox4,
.imagebox5 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.imagebox3 > img {
    width: 30%;
    margin: 1.6%;
}

.imagebox4 > img {
    width: 22%;
    margin: 1.4%;
}

.imagebox5 > img {
    width: 17%;
    margin: 1.4%;
}
